@tailwind base;
@tailwind components;
@tailwind utilities;

.offers {
  display: flex;
  flex-wrap: wrap;
}

.offers > div {
  margin-right: 20px;
}

.offer-thumbnail {
  width: 300px;
}

.offer-thumbnail img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
